html {
  background-color: #FDF6F2;
  max-width: 100%;
  overflow-x: hidden;
}

img {
  background: #FDF6F2;
  box-shadow: none !important;
}

hr {
  border: 0;
  clear:both;
  display:block;
  width: 96%;                
  background-color:#FDF6F2;
  height: 1px;
}

hr::before {
  content: '***';
  display: block;
  text-align: center;
}

.hidden {
  display: none;
}

.newsletter {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  max-width: 350px;
}

.email {
  background-color: inherit;
  display: inline-block;
  height: 2rem;
  border: 1px solid #28a5e9;
  border-radius: 0.25rem;
  border-right-width: 0;
  border-radius: 5px 0 0 5px;
  font-family: "Montserrat";
  font-size: 14px;
  line-height: 19px;
  padding: 0.25rem 0.5rem;
  width: 100%;
  margin-bottom: 0;
}

textarea:focus, input:focus{
  outline: none;
}

.submit {
  flex-shrink: 0;
  margin-top: 0;
  margin-left: 0;
  padding: 0.25rem 0.5rem;
  height: 2rem;
  background: #2084ba;
  border: 1px solid #2084ba;
  border-radius: 0 0.25rem 0.25rem 0;
  color: white;
  font-family: "Montserrat";
  font-size: 16px;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
}

.author {
  font-weight: 700;
  color: #2084ba;
}

footer {
  font-family: "Josefin Sans Bold";
}

figure .image {
  width: 100%;
}

figcaption {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  font-style: italic;
  font-family: "Lora";
  font-size: 0.9rem;
  line-height: 1.35rem;
}

.vscode-highlight {
  --vscode-highlight-line-highlighted-background-color: hsla(0, 0%, 100%, 0.15);
  --vscode-highlight-line-highlighted-border-color: #d3bb45; /* default: transparent */
  --vscode-highlight-line-highlighted-border-width: 5px; /* default: 2px */
}
