html {
  background-color: #fdfdfd;
  max-width: 100%;
  overflow-x: hidden;
}

img {
  background: #fdfdfd;
}

.hidden {
  display: none;
}

.newsletter {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  max-width: 350px;
}

.email {
  background-color: inherit;
  display: inline-block;
  height: 2rem;
  border: 1px solid #455dd3;
  border-radius: 0.25rem;
  border-right-width: 0;
  border-radius: 5px 0 0 5px;
  font-family: "Montserrat";
  font-size: 14px;
  line-height: 19px;
  padding: 0.25rem 0.5rem;
  width: 100%;
  margin-bottom: 0;

}

.submit {
  flex-shrink: 0;
  margin-top: 0;
  margin-left: 0;
  padding: 0.25rem 0.5rem;
  height: 2rem;
  background: #455dd3;
  border: 1px solid #455dd3;
  border-radius: 0 0.25rem 0.25rem 0;
  color: white;
  font-family: "Montserrat";
  font-size: 16px;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
}

.author {
  font-weight: 600;
  color: #455dd3;
}

figure .image {
  width: 100%;
}

figcaption {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  font-style: italic;
  font-family: "Spectral Italic";
  font-size: 18px;
  line-height: 24px;
}

.vscode-highlight {
  --vscode-highlight-line-highlighted-background-color: hsla(0, 0%, 100%, 0.15);
  --vscode-highlight-line-highlighted-border-color: #d3bb45; /* default: transparent */
  --vscode-highlight-line-highlighted-border-width: 5px; /* default: 2px */
}
