/* montserrat-regular - latin_latin-ext_vietnamese_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
    url('./files/montserrat-v14-latin_latin-ext_vietnamese_cyrillic-ext_cyrillic-regular.woff2')
      format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('./files/montserrat-v14-latin_latin-ext_vietnamese_cyrillic-ext_cyrillic-regular.woff')
      format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-600 - vietnamese_latin-ext_latin_cyrillic-ext_cyrillic */
@font-face {
     font-family: 'Montserrat';
     font-style: normal;
     font-weight: 600;
     font-display: swap;
     src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
          url('./files/montserrat-v14-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
          url('./files/montserrat-v14-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}   

/* montserrat-italic - latin_latin-ext_vietnamese_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Italic'), local('Montserrat-Italic'),
    url('./files/montserrat-v14-latin_latin-ext_vietnamese_cyrillic-ext_cyrillic-italic.woff2')
      format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('./files/montserrat-v14-latin_latin-ext_vietnamese_cyrillic-ext_cyrillic-italic.woff')
      format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-regular - greek-ext_greek */
@font-face {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 400;
     font-display: swap;
     src: local('Roboto'), local('Roboto-Regular'),
          url('./files/roboto-v20-greek-ext_greek-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
          url('./files/roboto-v20-greek-ext_greek-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
     

@font-face {
     font-family: 'sofiapro-light';
     src: url('./files/sofiapro-light-webfont.woff2') format('woff2'),
          url('./files/sofiapro-light-webfont.woff') format('woff');
     font-weight: normal;
     font-style: normal;
     font-display: swap;
}
   
/* source-code-pro-regular - latin_latin-ext_vietnamese_cyrillic-ext_cyrillic_greek */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Source Code Pro Regular'), local('SourceCodePro-Regular'),
    url('./files/source-code-pro-v11-latin_latin-ext_vietnamese_cyrillic-ext_cyrillic_greek-regular.woff2')
      format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('./files/source-code-pro-v11-latin_latin-ext_vietnamese_cyrillic-ext_cyrillic_greek-regular.woff')
      format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* source-serif-pro-regular - latin-ext_latin */
@font-face {
     font-family: 'Source Serif Pro';
     font-style: normal;
     font-weight: 400;
     font-display: swap;
     src: local('Source Serif Pro'), local('SourceSerifPro-Regular'),
          url('./files/source-serif-pro-v7-latin-ext_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
          url('./files/source-serif-pro-v7-latin-ext_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
   
/* source-serif-pro-600 - latin-ext_latin */
@font-face {
     font-family: 'Source Serif Pro';
     font-style: normal;
     font-weight: 600;
     font-display: swap;
     src: local('Source Serif Pro Semibold'), local('SourceSerifPro-Semibold'),
          url('./files/source-serif-pro-v7-latin-ext_latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
          url('./files/source-serif-pro-v7-latin-ext_latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
   