/* roboto-regular - vietnamese_cyrillic-ext_greek-ext_latin-ext */
@font-face {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 400;
     font-display: swap;
     src: local('Roboto'), local('Roboto-Regular'),
          url('./files/roboto-v20-vietnamese_cyrillic-ext_greek-ext_latin-ext-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
          url('./files/roboto-v20-vietnamese_cyrillic-ext_greek-ext_latin-ext-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
   
   /* roboto-italic - vietnamese_cyrillic-ext_greek-ext_latin-ext */
@font-face {
     font-family: 'Roboto';
     font-style: italic;
     font-weight: 400;
     font-display: swap;
     src: local('Roboto Italic'), local('Roboto-Italic'),
          url('./files/roboto-v20-vietnamese_cyrillic-ext_greek-ext_latin-ext-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
          url('./files/roboto-v20-vietnamese_cyrillic-ext_greek-ext_latin-ext-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
   
   /* roboto-500 - vietnamese_cyrillic-ext_greek-ext_latin-ext */
@font-face {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 500;
     font-display: swap;
     src: local('Roboto Medium'), local('Roboto-Medium'),
          url('./files/roboto-v20-vietnamese_cyrillic-ext_greek-ext_latin-ext-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
          url('./files/roboto-v20-vietnamese_cyrillic-ext_greek-ext_latin-ext-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
   
   /* roboto-500italic - vietnamese_cyrillic-ext_greek-ext_latin-ext */
@font-face {
     font-family: 'Roboto';
     font-style: italic;
     font-weight: 500;
     font-display: swap;
     src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'),
          url('./files/roboto-v20-vietnamese_cyrillic-ext_greek-ext_latin-ext-500italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
          url('./files/roboto-v20-vietnamese_cyrillic-ext_greek-ext_latin-ext-500italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
   